.header_div
{
    background-color: aqua;
    color: azure;
}

.header_div p
{
    font-family: 'Roboto', sans-serif;
    color: blue;
    letter-spacing: 2px;
    font-size: 12px;
    font-weight: bold;
}

.main_div button {
    font-family: 'Roboto', sans-serif;
    margin-top: 30px;
    width: 130px;
    font-weight: bolder;
    letter-spacing: 3px;
}

.copy_right_footer {
    position: fixed;
    color: cornflowerblue;
    bottom: 0;
    width: 100%;
    font-size: 18px;
    background-color: cyan;
    line-height: 3;
    text-align: 3;
    text-shadow: 5px 5px 5px gray;
}